<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>开始学习CSS</title>
    <link href="/static/css/cssPractise2.css" rel="stylesheet">
</head>

<body>
<table>
    <caption>A summary of the UK's most famous punk bands</caption>
    <thead>
    <tr>
        <th scope="col">Band</th>
        <th scope="col">Year formed</th>
        <th scope="col">No. of Albums</th>
        <th scope="col">Most famous song</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Buzzcocks</th>
        <td>1976</td>
        <td>9</td>
        <td>Ever fallen in love (with someone you shouldn't've)</td>
    </tr>
    <tr>
        <th scope="row">The Clash</th>
        <td>1976</td>
        <td>6</td>
        <td>London Calling</td>
    </tr>

    ... some rows removed for brevity

    <tr>
        <th scope="row">The Stranglers</th>
        <td>1974</td>
        <td>17</td>
        <td>No More Heroes</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th scope="row" colspan="2">Total albums</th>
        <td colspan="2">77</td>
    </tr>
    </tfoot>
</table>
<div class="wrapper">
    <div class="box1">One</div>
    <div class="box2">Two</div>
    <div class="box3">Three</div>
</div>
<form>
    <p>First of all, tell us your name and age.</p>
    <div>
        <label for="fname">First name:</label>
        <input type="text" id="fname">
    </div>
    <div>
        <label for="lname">Last name:</label>
        <input type="text" id="lname">
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age">
    </div>
</form>


</body>

</html>