<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tablepractice</title>
    <link href="/static/css/demo.css" rel="stylesheet">
</head>
<body>
<table>
    <caption>The table</caption>
    <tr>
        <td colspan="3"></td>
        <td>Subject</td>
        <td>Object</td>
    </tr>
    <tr>
        <td rowspan="5">单数</td>
        <td colspan="2">第一人称</td>
        <td>I</td>
        <td>me</td>
    </tr>
    <tr>
        <td colspan="2">第二人称</td>
        <td>you</td>
        <td>you</td>
    </tr>
    <tr>
        <td rowspan="3">第三人称</td>
        <td>男</td>
        <td>he</td>
        <td>him</td>
    </tr>
    <tr>
        <td>女</td>
        <td>she</td>
        <td>her</td>
    </tr>
    <tr>
        <td>它</td>
        <td>it</td>
        <td>it</td>
    </tr>
    <tr>
        <td rowspan="3">复数</td>
        <td colspan="2">第一人称</td>
        <td>we</td>
        <td>us</td>
    </tr>
    <tr>
        <td colspan="2">第二人称</td>
        <td>you</td>
        <td>you</td>
    </tr>
    <tr>
        <td colspan="2">第三人称</td>
        <td>they</td>
        <td>they</td>
    </tr>

</table>

</body>
</html>